body{
    margin: 0;
    padding: 0;
    background-color: black;
}

section{
    height: 50vh;
} 

section:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 800px;
    margin-left: 140px;
    background:linear-gradient(to right, #f00,#f00,#0f0,#0ff,#ff0,#0ff);
    mix-blend-mode: color;
    pointer-events: none;
}

video{
    object-fit: cover;
}

.video{
    margin-left: 100px;
}
 .plp{
    margin-top: -400px;
    z-index: 1;
    height: 200px;
    width: 200px;
    background-color: rgb(13, 0, 255);
 }  p{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 30PX;
    font-family: sans-serif;
    letter-spacing: 0em;
    
}

p span{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
} 
@keyframes animate{
    0%{
        opacity: 0;
        transform:rotateY(90deg) ;
        filter: blur(10px);
    }

    100%{
        opacity: 1;
        transform:rotateY(0deg) ;
        filter: blur(0px);
    }
} 
p span:nth-child(1){
    animation-delay:1s;
}

p span:nth-child(2){
    animation-delay:2s;
}

p span:nth-child(3){
    animation-delay:2.5s;
}

p span:nth-child(4){
    animation-delay:2.75s;
}

p span:nth-child(5){
    animation-delay:3s;
}
p span:nth-child(6){
    animation-delay:3.25s;
}

p span:nth-child(7){
    animation-delay:3.35s;
}

p span:nth-child(8){
    animation-delay:3.35s;
}

p span:nth-child(9){
    animation-delay:3.45s;
}

p span:nth-child(10){
    animation-delay:3.50s;
}

p span:nth-child(11){
    animation-delay:3.60s;
}
p span:nth-child(12){
    animation-delay:3.65s;
}

p span:nth-child(13){
    animation-delay:3.70s;
}

p span:nth-child(14){
    animation-delay:3.80s;
}

p span:nth-child(15){
    animation-delay:3.15s;
}

p span:nth-child(16){
    animation-delay:3.40s;
}
p span:nth-child(17){
    animation-delay:3.75s;
}

p span:nth-child(18){
    animation-delay:4s;
} 